/dev/MTK_SMI		0660	system		media
/dev/block/mmcblk0p1	0640	root		system
/dev/block/mmcblk0p2	0640	root		system
/dev/ebc		0660	system		media
/dev/gps		0660	gps		system
/dev/ion		0666	system		system
/dev/mali		0666	system		graphics
/dev/misc-sd		0660	root		system
/dev/mtgpio		0600	radio		root
/dev/mtk_disp		0600	system		system
/dev/mtkfb_vsync	0660	system		graphics
/dev/ptmx		0666	root		radio
/dev/rtc0		0660	system		system
/dev/stpbt		0660	bluetooth	bluetooth
/dev/stpgps		0660	gps		gps
/dev/stpwmt		0660	system		system
/dev/sw_sync		0660	system		graphics
/dev/touch		0660	root		system
/dev/ttyGS0		0660	system		root
/dev/ttyGS1		0660	system		root
/dev/ttyGS2		0660	bluetooth	bluetooth
/dev/uinput		0660	system		bluetooth
/dev/wmtWifi		0660	wifi		wifi
/dev/wmtdetect		0660	system		system

/sys/devices/platform/leds-mt65xx/leds/button-backlight	trigger				0644	system	system
/sys/devices/platform/leds-mt65xx/leds/lcd-backlight	brightness			0664	system	system
/sys/devices/platform/leds-mt65xx/leds/lcd-backlight	div				0644	root	radio
/sys/devices/platform/leds-mt65xx/leds/lcd-backlight	duty				0644	root	radio
/sys/devices/platform/leds-mt65xx/leds/lcd-backlight	trigger				0644	system	system
/sys/devices/platform/mt-pmic				pmic_access			0664	root	root
/sys/devices/system/cpu/cpu0				cpufreq/scaling_max_freq	0660	system	system
/sys/devices/system/cpu/cpu0				cpufreq/scaling_governor	0644	radio	system
/sys/devices/virtual/gpsdrv/gps				pwrctl				0664	gps	gps
/sys/devices/virtual/gpsdrv/gps				pwrsave				0664	gps	gps
/sys/devices/virtual/gpsdrv/gps				state				0664	gps	gps
/sys/devices/virtual/gpsdrv/gps				status				0664	gps	gps
/sys/devices/virtual/gpsdrv/gps				suspend				0664	gps	gps
